/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - Asraful Hoque
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

/* fonts import -END */
/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Nunito', sans-serif !important;
}

:root {
    --main: #ED3833;
    --title: #10294C;
    --white: #fff;
    --dark: #333;
    --gray: #ACACAC;
    --blue: #0046FE;
    --blue-light: #4C95FF;
    --green-light: #23C030;
    --c-title: #161E2E;
    --paragraph: #4B5563;
    --light-white: #3D516E;
}

/* reset, root - END */
@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

/* helper , base classes */
.primary-btn {
    padding: 13px 55px;
    color: var(--white);
    background-color: var(--main);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;

    &:hover {
        color: var(--white);
        background-color: transparent;
        border: 1px solid var(--white);
        transition: all 0.3s linear;
    }

    @media (max-width:575px) {
        padding: 10px 40px;
    }
}

.secondary-btn {
    padding: 13px 43px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    &:hover {
        color: var(--title);
        background-color:var(--white);
        transition: all 0.3s linear;
    }
    @media (max-width:575px) {
        padding: 10px 35px;
    }
}


/*font */
.ff-dm {
    font-family: 'DM Sans', sans-serif;
}

.ff-ps {
    font-family: 'Public Sans', sans-serif;
}

/* font end */

.text-clr-main {
    color: var(--main);
}

.text-clr-title {
    color: var(--title);
}

.text-clr-white {
    color: var(--white);
}

.text-clr-dark {
    color: var(--dark);
}

.text-clr-gray {
    color: var(--gray);
}

.text-clr-bluelight {
    color: var(--blue-light);
}

.text-clr-greenlight {
    color: var(--green-light);
}

.text-clr-blue {
    color: var(--blue);
}

.text-clr-card-title {
    color: var(--c-title);
}

.text-clr-paragraph {
    color: var(--paragraph);
}

.bg-clr-blue {
    background-color: var(--title);
}

.fs-14 {
    font-size: 14px;
    line-height: 32px;
}

.fs-18 {
    font-size: 18px;
    line-height: 32px;
}

.fs-4 {
    @media(max-width: 575px){
        font-size: 18px !important;
        line-height: 28px;
    }
}

.fs-5 {
    @media(max-width: 575px){
        font-size: 16px !important;
        line-height: 26px;
    }
}

.fs-6 {
    @media(max-width: 575px){
        font-size: 14px !important;
        line-height: 24px;
    }
}

.fs-22 {
    font-size: 22px;
    line-height: 35px;
    @media(max-width:991px){
        line-height: 30px;
    }
}

.fs-36 {
    font-size: 36px;
    line-height: 32px;
}

.fs-56 {
    font-size: 56px;
    line-height: 64px;

    @media(max-width:991px) {
        font-size: 45px;
        line-height: 55px;
    }

    @media(max-width:575px) {
        font-size: 35px;
        line-height: 42px;
    }
}

.fs-72 {
    font-size: 72px;
    line-height: 80px;

    @media(max-width:991px) {
        font-size: 58px;
        line-height: 68px;
    }

    @media(max-width:575px) {
        font-size: 38px;
        line-height: 48px;
    }
}

.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

.lh-32 {
    line-height: 32px;
}

.lh-28 {
    line-height: 28px;
    
}

.box-shadow {
    box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1);
}

.box-shadow2 {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.05);
}

.radius-10 {
    border-radius: 10px;
}

.radius-16 {
    border-radius: 16px;
}

/* helper , base classes  - END*/
.slider-arrow {
    svg:hover {
        circle {
            stroke: #ED3833;    
        }
        path {
            fill: #ED3833;
        }
        rect {
            fill: white;
        }
    }
}
/*# sourceMappingURL=style.css.map */

//Navbar
.navbar {
    @media (max-width:991px) {
        position: absolute;
        width: 100%;

        .navbar-collapse {
            background-color: #20385b;
        }

        .navbar-nav {
            padding: 14px;
        }

        .nav-social-wrapper {
            padding: 14px 10px 24px 24px;
        }
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: url('../img/menu.svg');
    }

    .nav-link {
        padding: 20px 24px !important;

        @media (max-width:991px) {
            padding: 10px 14px !important;
        }

        &:hover {
            color: var(--main);
        }
    }
}



//Hero
.hero {
    padding: 174px 0 137px 0;

    @media (max-width:991px) {
        padding: 100px 0;

        .hero-img {
            max-width: 70%;
            width: 100%;
        }
    }

    @media(max-width:575px) {
        padding: 50px 10px;
        .hero-img {
            max-width: 100%;
            width: 100%;
            padding-top: 15px;
        }
    }
}

//About
.about {
    padding: 143px 0 80px 0;

    @media(max-width:991px) {
        padding: 80px 0 40px;
    }

    @media(max-width:575px) {
        padding: 40px 20px;
    }
}

//Service
.service {
    padding: 80px 0;
    
    @media(max-width:991px) {
        padding: 40px 0;
        
        .service-btn {
            display: flex;
            justify-content: center;
        }
    }
    @media(max-width:575px){
        padding: 20px 20px;
    }

    .s-item {
        margin: 20px 0 50px 0;

        @media(max-width:991px) {
            margin: 20px 0 40px 0;
        }

        @media(max-width:575px) {
            flex-direction: column;
        }
    }
}

//Features
.features {
    .features-wrapper {
        padding-bottom: 52px;
        @media(max-width:991px){
            padding-top: 40px;
        }
        @media(max-width:575px){
            padding-bottom: 20px;
        }
    }
    .features-card {
        padding: 32px 51px 30px 52px;
        @media(max-width:991px){
            padding: 20px 15px;
        }
        @media(max-width:767px){
            padding: 25px 40px 25px 40px;
        }
        @media(max-width:575px){
            img {
                max-width: 20%;
                width: 100%;
            }
        }
        .features-title {
            padding: 35px 0 18px 0;
        @media(max-width:767px){
            padding: 15px 0 10px 0;
        }
        }
        &:hover {
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);
            transition: all 0.3s linear;
        }
    }
}

//Portfolio
.portfolio {
    padding: 184px 0 171px 0;
    @media(max-width:991px){
        padding: 100px 0;
    }
    @media(max-width:767px){
        padding: 70px 0;
    }
    @media(max-width:575px){
        padding: 40px 20px;
    }
    .portfolio-card {
        margin-top: 37px;
        border-radius: 15px;
        border: 1px solid #DDD;
        overflow: hidden;
        .portfolio-card-content {
            padding: 26px 30px 18px 30px;
            @media(max-width:575px){
                padding: 10px 20px;
            }
        }
    }
}

//Summery
.summery {
    background-image: url('../img/summery.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 164px 0 151px 0;
    @media(max-width:575px) {
        padding: 50px 0;
    }

    .summery-wrapper {
        .summery-card {
            padding: 30px 0;
        }
        @media(max-width:575px) {
            flex-direction: column;
        }
        .client-count {
            padding: 41px 0 8px;
        }
    }
}

//Testimonial
.testimonial {
    padding: 222px 0 188px 0;
    @media(max-width:991px) {
        padding: 100px 0;
        }
    @media(max-width:767px) {
    padding: 100px 0;
    }
    @media(max-width:767px) {
        padding: 100px 30px;
        }
    .client-profile {
        padding-bottom: 43px;
        .client-image {
            max-height: 100%;
            height: 100%;
        }
    }
}

//Support
.support-item {
    .support-image {
            max-width: 32%;
            width: 100%;
            @media(max-width:991px){
                max-width: 28%;
                width: 100%;
            }
            @media(max-width:575px){
                max-width: 15%;
                width: 100%;
            }
    }
}

//Blog
.blog {
    padding: 148px 0 130px 0;
    @media(max-width:767px){
        padding: 100px 0;
    }
    @media(max-width:767px){
        padding: 80px 10px;
    }
    .blog-card {
        margin-top: 39px;
        padding: 32px 32px 29px 32px;
        border: 2px solid rgba(153, 153, 153, 0.35);
        border-radius: 16px;
        .blog-image {
            max-width: 100%;
            width: 100%;
        }
        @media(max-width:991px){
            padding: 10px 8px;
        }
        @media(max-width:767px){
            padding: 32px 32px 29px 32px;
            
        }
        @media(max-width:575px){
            padding: 20px 20px;
            
        }
    }
}

//Contact

.contact {
    background: url('../img/contact.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 152px 0 145px 0;
}

//Footer
.footer {
    background-color: var(--title);
    padding-top: 75px;
    @media(max-width:767px){
        padding: 80px 10px;
        .social {
            color: yellow;
        }
        .contacts {
            color: yellow;
        }
        .menu {
            color: yellow;
        }
        .subscribe {
            color: yellow;
        }
    }
    .search {
        max-width: 270px;
        width: 100%;
        position: relative;
        .form-control {
            position: absolute;
            padding: 7px 24px 7px 24px;
            color: var(--gray);
            background: var(--white);
            border: 1px solid #DADADA;
            border-radius: 24px;
            font-size: 16px;
            line-height: 32px;
            &:focus {
                box-shadow: none;
            }
        }
        button {
            border: none;
            right: -1%;
            background-color: transparent;
            svg:hover{
                rect {
                    fill: var(--title);
                    transition: all 0.3s linear;
                }
            }
        }
    }
    
}

.copyright {
    background-color: var(--title);
    padding: 42px 0 37px 0;
    @media(max-width:767px) {
        padding: 20px 0 30px 0;
    }
    @media(max-width:575px) {
        padding: 15px 0 15px 0;
    }
    .divider {
        border: 1px solid var(--white);
        opacity: 0.1033;
    }
}